Repository FreeHunt/freehunt, pull requests merged in 2025-04, with the labels that each got.

#17 Add end-to-end tests for Users, Companies, Skills and Job Postings
  .github/workflows/node.js.yml
  backend/src/freelances/freelances.module.ts
  backend/src/job-postings/job-postings.controller.ts
  backend/test/app.e2e-spec.ts
  backend/test/companies.e2e-spec.ts
  backend/test/job-postings.e2e-spec.ts
  backend/test/skills.e2e-spec.ts
  backend/test/users.e2e-spec.ts
Labels: backend, tests

#15 Login and Register Authentik
  authentik.compose.yml
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/auth/auth.controller.spec.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.spec.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/dto/login.dto.ts
  backend/src/auth/dto/register.dto.ts
  backend/src/auth/types/auth-error-response.interface.ts
  backend/src/auth/types/auth-flow-response.interface.ts
  backend/src/auth/types/auth-success-response.interface.ts
  backend/src/common/authentik/authentik.module.ts
  backend/src/common/authentik/authentik.service.ts
  backend/src/main.ts
Labels: backend

#24 Fh 32/enrich freelance model
  backend/prisma/migrations/20250419170210_add/migration.sql
  backend/prisma/schema.prisma
  backend/src/freelances/dto/create-freelance.dto.ts
  backend/src/freelances/dto/freelance-response.dto.ts
  backend/src/freelances/dto/search-freelance.dto.ts
  backend/src/freelances/dto/update-freelance.dto.ts
  backend/src/freelances/freelances.controller.spec.ts
  backend/src/freelances/freelances.service.ts
  backend/test/freelances.e2e-spec.ts
Labels: backend

#23 Fh 26/frontend freelance search
  frontend/actions/freelances.ts
  frontend/actions/skills.ts
  frontend/app/freelances/search/page.tsx
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/components/common/banner/index.tsx
  frontend/components/common/base-page/index.tsx
  frontend/components/common/button/index.tsx
  frontend/components/common/input/index.tsx
  frontend/components/common/toggle-badge/index.tsx
  frontend/components/freelance/card/index.tsx
  frontend/components/freelance/skill-badge/index.tsx
  frontend/components/navigation-menu.tsx
  frontend/components/ui/avatar.tsx
  frontend/components/ui/badge.tsx
  frontend/components/ui/button.tsx
  frontend/components/ui/card.tsx
  frontend/components/ui/input.tsx
  frontend/components/ui/sheet.tsx
  frontend/components/ui/skeleton.tsx
  frontend/components/ui/slider.tsx
  frontend/lib/api.ts
  frontend/lib/interfaces.ts
  frontend/lib/utils.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/public/assets/red-pointer.svg
  frontend/public/file.svg
  frontend/public/globe.svg
  frontend/public/next.svg
  frontend/public/vercel.svg
  frontend/public/window.svg
Labels: frontend

#25 Fh 34/fixtures
  backend/package-lock.json
  backend/package.json
  backend/prisma/fake-data.ts
  backend/prisma/schema.prisma
  backend/prisma/seed.ts
Labels: backend

#26 Enhance freelancer search functionality: Implement full-text search + add seniority filtering in frontend
  backend/prisma/fake-data.ts
  backend/prisma/schema.prisma
  backend/src/freelances/dto/search-freelance.dto.ts
  backend/src/freelances/freelances.controller.spec.ts
  backend/src/freelances/freelances.controller.ts
  backend/src/freelances/freelances.service.ts
  backend/test/freelances.e2e-spec.ts
  frontend/actions/freelances.ts
  frontend/app/freelances/search/page.tsx
  frontend/components/freelance/card/index.tsx
  frontend/components/freelance/skill-badge/index.tsx
  frontend/components/ui/label.tsx
  frontend/components/ui/radio-group.tsx
  frontend/lib/interfaces.ts
  frontend/package-lock.json
  frontend/package.json
Labels: backend, frontend

#22 FH-12/api-project
  backend/src/app.module.ts
  backend/src/projects/dto/create-project.dto.ts
  backend/src/projects/dto/project-response.dto.ts
  backend/src/projects/dto/update-project.dto.ts
  backend/src/projects/projects.controller.ts
  backend/src/projects/projects.module.ts
  backend/src/projects/projects.service.ts
Labels: backend

#30 Fh 35/freelance search pagination
  backend/prisma/seed.ts
  backend/src/freelances/dto/freelance-search-result.dto.ts
  backend/src/freelances/freelances.controller.spec.ts
  backend/src/freelances/freelances.controller.ts
  backend/src/freelances/freelances.service.ts
  backend/test/freelances.e2e-spec.ts
  frontend/actions/freelances.ts
  frontend/app/freelances/search/page.tsx
  frontend/components/ui/pagination.tsx
  frontend/lib/interfaces.ts
Labels: backend, tests, frontend

#32 Fh 41/search query parameters
  frontend/app/freelances/search/page.tsx
  frontend/components/common/toggle-badge/index.tsx
  frontend/package-lock.json
Labels: frontend

#33 unit tests for Project
  backend/src/projects/projects.controller.spec.ts
  backend/test/mocks/prisma.mock.ts
Labels: tests

#35 Fh 42/homepage
  .github/workflows/node.js.yml
  .husky/pre-commit
  frontend/app/freelances/search/page.tsx
  frontend/app/globals.css
  frontend/app/page.tsx
  frontend/components/common/search-input/index.tsx
  frontend/components/navigation-menu.tsx
  frontend/public/assets/home-pointer.svg
  frontend/public/assets/home-side-1.svg
  frontend/public/assets/home-side-2.svg
  frontend/public/assets/home.jpg
Labels: frontend

#36 Fh 47/red pointer
  frontend/app/page.tsx
  frontend/components/common/banner/index.tsx
  frontend/components/common/red-pointer/index.tsx
  frontend/public/assets/red-pointer-with-spiral.svg
Labels: frontend

#37 Fh 48/api job postings search
  backend/prisma/fake-data.ts
  backend/prisma/migrations/20250427183716_add_daily_rate_and_seniority_to_job_posting/migration.sql
  backend/prisma/schema.prisma
  backend/src/job-postings/dto/create-job-posting.dto.ts
  backend/src/job-postings/dto/job-posting-response.dto.ts
  backend/src/job-postings/dto/job-posting-search-result.dto.ts
  backend/src/job-postings/dto/search-job-posting.dto.ts
  backend/src/job-postings/job-postings.controller.spec.ts
  backend/src/job-postings/job-postings.controller.ts
  backend/src/job-postings/job-postings.service.ts
  backend/src/projects/projects.controller.spec.ts
Labels: backend
