Repository FreeHunt/freehunt, pull requests merged in 2025-06, with the labels that each got.

#91 Crud candidature
  backend/prisma/fake-data.ts
  backend/prisma/migrations/20250612184757_add_candidate_job_posting/migration.sql
  backend/prisma/schema.prisma
  backend/src/app.module.ts
  backend/src/candidates/candidates.controller.ts
  backend/src/candidates/candidates.module.ts
  backend/src/candidates/candidates.service.ts
  backend/src/candidates/dto/create-candidate.dto.ts
  backend/src/candidates/dto/update-candidate.dto.ts
Labels: backend

#93 Fh 77 terraform
  .github/workflows/node.js.yml
  .gitignore
  backend/Dockerfile
  backend/src/common/upload/upload.service.ts
  compose.prod.yaml
  frontend/actions/register.ts
  terraform/.gitignore
  terraform/main.tf
  terraform/outputs.tf
  terraform/variables.tf
  terraform/versions.tf
Labels: deployment, config

#96 Add health check endpoint
  backend/src/app.module.ts
  backend/src/health/health.controller.ts
  backend/src/health/health.module.ts
Labels: backend

#99 Fix/frontend ux
  Makefile
  backend/src/freelances/freelances.service.ts
  backend/src/job-postings/job-postings.service.ts
  frontend/app/about/page.tsx
  frontend/app/contact/page.tsx
  frontend/app/freelances/search/page.tsx
  frontend/app/job-postings/[id]/page.tsx
  frontend/app/job-postings/search/page.tsx
  frontend/app/login/page.tsx
  frontend/app/page.tsx
  frontend/components/common/search-input/index.tsx
  frontend/public/assets/about.jpg
Labels: backend, frontend

#100 Change action files to use client-side rendering
  frontend/actions/candidates.ts
  frontend/actions/freelances.ts
  frontend/actions/skills.ts
Labels: bug

#108 Use Swarm secrets for all variables in production
  .github/workflows/node.js.yml
  backend/start.sh
  compose.prod.yaml
Labels: deployment, config
